{% extends 'home.html.twig' %}

{% block title %}Réserver Abonnement{% endblock %}

{% block body %}
<br>
<br>
<br>
<center><h1>Votre Historique </h1></center>
<br>
<br>
<br>
<center>
<div class="container" >
<table class="table">
<thead>
    <tr>
        <th>Id</th>
        <th>Date Debut</th>
        <th>Date Fin</th>
    </tr>
</thead>
    {% for reservation in reservations %}
    <tr>
        <td class="form-group">{{ reservation.id }}</td>
        <td class="form-group">{{ reservation.DateDebut|date('Y-m-d') }}</td>
        <td class="form-group">{{ reservation.DateFin|date('Y-m-d') }}</td>
        <td>
        {% if app.session.flashBag.has('success') %}
    <div class="alert alert-success">
        {{ app.session.flashBag.get('success')[0] }}
    </div>
{% endif %}

{% if app.session.flashBag.has('error') %}
    <div class="alert alert-danger">
        {{ app.session.flashBag.get('error')[0] }}
    </div>
{% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
</div>
</center>
{% endblock %}