{% extends 'baseback.html.twig' %}

{% block content %}
<div class="container">
<table class="table">
<tbody>
<<<<<<< HEAD
=======
<center><h1>Detail du produit {{ produits.id }}</h1></center>
>>>>>>> 97ebc60cafdf1a0cff1154faab316e13b3bb84d1
            <tr>
                <th>image</th>
                <td><img style="width:200px;" src="{{asset('uploads/produits/'~produits.imageproduit)}}" alt=""></td>
            </tr>
<<<<<<< HEAD
            <tr>
                <th>id</th>
                <td>{{ produits.id }}</td>
            </tr>
=======
            <!--<tr>
                <th>id</th>
                <td>{{ produits.id }}</td>
            </tr>-->
>>>>>>> 97ebc60cafdf1a0cff1154faab316e13b3bb84d1
            <tr>
                <th>nomCategory</th>
                <td>{{produits.category.nomCategory}}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{produits.nom}}</td>
            </tr>
            <tr>
                <th>description</th>
                <td>{{produits.description}}</td>
            </tr>
            <tr>
                <th>prix_produit</th>
                <td>{{produits.prixproduit}}dt</td>
            </tr>
            <tr>
                <th>quantite_produit</th>
                <td>{{produits.quantiteproduit}}</td>
            </tr>
            <tr>
                <th>date_expiration</th>
<<<<<<< HEAD
                <td>{{produits.dateexpiration|date("Y-m-d")}}</td>
=======
                <td>{{produits.dateexpiration|date("d-m-Y")}}</td>
>>>>>>> 97ebc60cafdf1a0cff1154faab316e13b3bb84d1
            </tr>
            <tr>
                <th>actions</th>
                <td>
<<<<<<< HEAD
                <a href="{{path('editp',{id:produits.id})}}" class="btn btn-round btn-twitter">edit</a>
=======
                <a href="{{path('editp',{id:produits.id})}}" class="btn btn-round btn-twitter">modifier</a>
>>>>>>> 97ebc60cafdf1a0cff1154faab316e13b3bb84d1
                <a href="{{path('deletep',{id:produits.id})}}" class="btn btn-round btn-twitter">supprimer</a>
                </td>
            </tr>
        </tbody>
</table>
<<<<<<< HEAD

<form action="{{ path('list_produit') }}">
    <button class="btn btn-round btn-facebook">afficher</button>
</form>

=======
<center>
<form action="{{ path('list_produit') }}">
    <button class="btn btn-round btn-facebook">afficher</button>
</form>
</center>
>>>>>>> 97ebc60cafdf1a0cff1154faab316e13b3bb84d1
</div>
{% endblock %}