{% extends 'home.html.twig' %}
{% block body %}
	<!-- ================ start banner area ================= -->	
	<section class="blog-banner-area" id="blog">
		<div class="container h-100">
			<div class="blog-banner">
				<div class="text-center">
					<h1>Shop Single</h1>
					<nav aria-label="breadcrumb" class="banner-breadcrumb">
           <!-- <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Shop Single</li>
            </ol>-->
          </nav>
				</div>
			</div>
    </div>
	</section>
	<!-- ================ end banner area ================= -->


  <!--================Single Product Area =================-->
	<div class="product_image_area">
		<div class="container">
			<div class="row s_product_inner">
				<div class="col-lg-6">
					<div class="owl-carousel owl-theme s_Product_carousel">
						<div class="single-prd-item">
							<img class="img-fluid" style="width:400px; height:400px " src="{{asset('uploads/produits/'~produits.imageproduit)}}" alt="">
						</div>
						<!-- <div class="single-prd-item">
							<img class="img-fluid" src="img/category/s-p1.jpg" alt="">
						</div>
						<div class="single-prd-item">
							<img class="img-fluid" src="img/category/s-p1.jpg" alt="">
						</div> -->
					</div>
				</div>
				
				<div class="col-lg-5 offset-lg-1">
					<div class="s_product_text">
						<h3>{{produits.nom}}</h3>
						<h2>{{produits.prixproduit}}TND</h2>
						<ul class="list">
							<li><span>Category</span> : {{produits.category.nomCategory}}</li>
							{% if produits.quantiteproduit >=1 %}
								<li><span>Availibility</span> : In Stock</li>
							{% else %}
								<li><span>Availibility :</span><font color="red">  out of Stock </font></li>
							{% endif %}
						</ul>
						<p>{{produits.description}}</p>
						{% if produits.quantiteproduit >=1 %}
						<div class="product_count">
              				<label for="qty">Quantity:</label>
             				 <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;"
							 class="increase items-count" type="button"><i class="ti-angle-left"></i></button>
							<input type="text" name="qty" id="sst" size="2" maxlength="12" value="1" title="Quantity:" class="input-text qty">
							<button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst > 0 ) result.value--;return false;"
               					class="reduced items-count" type="button"><i class="ti-angle-right"></i></button>
							
							<a class="button primary-btn" href="#">Add to Cart</a>               
						</div>
						{% endif %}
						<!--<div class="card_area d-flex align-items-center">
							<a class="icon_btn" href="#"><i class="lnr lnr lnr-diamond"></i></a>
							<a class="icon_btn" href="#"><i class="lnr lnr lnr-heart"></i></a>
						</div>-->
					</div>
				</div>
			</div>
		</div>
	</div>
	<br>
				<br>
	<!--================End Single Product Area =================-->
{% endblock %}