{% extends 'home.html.twig' %}
{% block body %}
	<!-- ================ start banner area ================= -->
	<section class="blog-banner-area" id="category">
		<div class="container h-100">
			<div class="blog-banner">
				<div class="text-center">
					<h1>Shop
					</h1>
					<nav aria-label="breadcrumb" class="banner-breadcrumb">
						<!--<ol class="breadcrumb">
							<li class="breadcrumb-item">
								<a href="#">Home</a>
							</li>
							<li class="breadcrumb-item active" aria-current="page">Shop
							</li>
						</ol>-->
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- ================ end banner area ================= -->


	<!-- ================ category section start ================= -->
	<section class="section-margin--small mb-5">
		<div class="container">
			<div class="row">
				<div class="col-xl-3 col-lg-4 col-md-5">
					<div class="sidebar-categories">
						<div class="head">Browse Categories</div>
						<ul class="main-categories">
							<li class="common-filter">
								<form action="#">
									<ul>
										<li class="filter-list"><input class="pixel-radio" type="radio" id="men" name="brand"><label for="men">Men<span>
													(3600)</span>
											</label>
										</li>
										<li class="filter-list"><input class="pixel-radio" type="radio" id="women" name="brand"><label for="women">Women<span>
													(3600)</span>
											</label>
										</li>
										<li class="filter-list"><input class="pixel-radio" type="radio" id="accessories" name="brand"><label for="accessories">Accessories<span>
													(3600)</span>
											</label>
										</li>
										<li class="filter-list"><input class="pixel-radio" type="radio" id="footwear" name="brand"><label for="footwear">Footwear<span>
													(3600)</span>
											</label>
										</li>
										<li class="filter-list"><input class="pixel-radio" type="radio" id="bayItem" name="brand"><label for="bayItem">Bay item<span>
													(3600)</span>
											</label>
										</li>
										<li class="filter-list"><input class="pixel-radio" type="radio" id="electronics" name="brand"><label for="electronics">Electronics<span>
													(3600)</span>
											</label>
										</li>
										<li class="filter-list"><input class="pixel-radio" type="radio" id="food" name="brand"><label for="food">Food<span>
													(3600)</span>
											</label>
										</li>
									</ul>
								</form>
							</li>
						</ul>
					</div>
					<div class="sidebar-filter">
						<div class="top-filter-head">Product Filters</div>
						<div class="common-filter">
							<div class="head">Brands</div>
							<form action="#">
								<ul>
									<li class="filter-list"><input class="pixel-radio" type="radio" id="apple" name="brand"><label for="apple">Apple<span>(29)</span>
										</label>
									</li>
									<li class="filter-list"><input class="pixel-radio" type="radio" id="asus" name="brand"><label for="asus">Asus<span>(29)</span>
										</label>
									</li>
									<li class="filter-list"><input class="pixel-radio" type="radio" id="gionee" name="brand"><label for="gionee">Gionee<span>(19)</span>
										</label>
									</li>
									<li class="filter-list"><input class="pixel-radio" type="radio" id="micromax" name="brand"><label for="micromax">Micromax<span>(19)</span>
										</label>
									</li>
									<li class="filter-list"><input class="pixel-radio" type="radio" id="samsung" name="brand"><label for="samsung">Samsung<span>(19)</span>
										</label>
									</li>
								</ul>
							</form>
						</div>
						<div class="common-filter">
							<div class="head">Color</div>
							<form action="#">
								<ul>
									<li class="filter-list"><input class="pixel-radio" type="radio" id="black" name="color"><label for="black">Black<span>(29)</span>
										</label>
									</li>
									<li class="filter-list"><input class="pixel-radio" type="radio" id="balckleather" name="color"><label for="balckleather">Black
																																																												                      Leather<span>(29)</span>
										</label>
									</li>
									<li class="filter-list"><input class="pixel-radio" type="radio" id="blackred" name="color"><label for="blackred">Black
																																																												                      with red<span>(19)</span>
										</label>
									</li>
									<li class="filter-list"><input class="pixel-radio" type="radio" id="gold" name="color"><label for="gold">Gold<span>(19)</span>
										</label>
									</li>
									<li class="filter-list"><input class="pixel-radio" type="radio" id="spacegrey" name="color"><label for="spacegrey">Spacegrey<span>(19)</span>
										</label>
									</li>
								</ul>
							</form>
						</div>
						<div class="common-filter">
							<div class="head">Price</div>
							<div class="price-range-area">
								<div id="price-range"></div>
								<div class="value-wrapper d-flex">
									<div class="price">Price:</div>
									<span>$</span>
									<div id="lower-value"></div>
									<div class="to">to</div>
									<span>$</span>
									<div id="upper-value"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div
					class="col-xl-9 col-lg-8 col-md-7">
					<!-- Start Filter Bar -->
					<div class="filter-bar d-flex flex-wrap align-items-center">
						<div class="sorting">
							<select>
								<option value="1">Default sorting</option>
								<option value="1">Default sorting</option>
								<option value="1">Default sorting</option>
							</select>
						</div>
						<div class="sorting mr-auto">
							<select>
								<option value="1">Show 12</option>
								<option value="1">Show 12</option>
								<option value="1">Show 12</option>
							</select>
						</div>
						<div>
							<div class="input-group filter-bar-search">
								<input type="text" placeholder="Search">
								<div class="input-group-append">
									<button type="button">
										<i class="ti-search"></i>
									</button>
								</div>
							</div>
						</div>
					</div>
					<!-- End Filter Bar -->
					<!-- Start Best Seller -->
					<section class="lattest-product-area pb-40 category-list">
						<div class="row">
							{% for p in produit %}
								<div class="col-md-6 col-lg-4">
									<div class="card text-center card-product">
									{% if p.quantiteproduit ==0 %}
										<div class="card-product__img">
											<img class="card-img" style="width:250px;height:250px" src="{{asset('uploads/produits/'~p.imageproduit)}}" alt="">
											
											{% else %}
											<div class="card-product__img">
											<img class="card-img" style="width:250px;height:250px" src="{{asset('uploads/produits/'~p.imageproduit)}}" alt="">
											<ul
												class="card-product__imgOverlay">
												<!--<li><button><i class="ti-search"></i></button></li>-->
												<li>
													<a href="{{ path('cart_add',{id:p.id}) }}">
														<i class="fas fa-shopping-cart"></i>
													</a>
												</li>
												<!-- <li><button><i class="ti-heart"></i></button></li>-->
											</ul>
											{% endif %}
										</div>
										<div class="card-body">
											<p>{{p.category.nomCategory}}</p>
											<h4 class="card-product__title">
												<a href="{{ path('gtidf',{id:p.id})}}">{{ p.nom }}</a>
											</h4>
											<p class="card-product__price">{{p.prixproduit}}TND</p>
										</div>
									</div>
								</div>
							{% endfor %}
						</div>
				    </section>
                    {% if ispaginated %}
                    
                    <nav aria-label="Page navigation example">
                    
                        <ul class="pagination" >
                        
                            {% if page != 1 %}
                                <li class="page-item"><a class="page-link" href="{{path('list_produitpag',{page:page - 1,nbr:nbr})}}">Previous</a></li>
                            {% endif %}
                            {% for i in range(1, nbpage) %}
                               
                                <li class="page-item"><a class="page-link" href="{{path('list_produitpag',{page:i,nbr:nbr})}}">{{i}}</a></li>
                                
                            {% endfor %}
                            {% if page != nbpage %}
                                <li class="page-item"><a class="page-link" href="{{path('list_produitpag',{page:page + 1,nbr:nbr})}}">Next</a></li>
                            {% endif %}
                            
                        </ul>
                        
                    </nav>
                    
                    {% endif %} 
				<!-- End Best Seller -->
			</div>
		</div>
	</div>
</section>
<!-- ================ category section end ================= -->{% endblock %}
