{% extends 'baseback.html.twig' %}
{% form_theme formp 'bootstrap_5_layout.html.twig' %}
{% block content %}
<br>
<br>
<br>
<br>
<div class="container">
    {% if editmode %}
      <center><h1> Modifier un produit</h1></center>
    {% else %}
        <center><h2>Ajouter un nouveau produit</h2></center>
    {% endif %}
<br><br>
{{form_start(formp,{'attr': {'novalidate': 'novalidate'}})}}
{{form_row(formp.nom,{'attr': {'placeholder':'Nom Produit','class':'form-control-lg'}})}}
{{form_row(formp.description,{'attr': {'placeholder':'Description','class':'form-control-lg'}})}}
{{form_row(formp.prixProduit,{'attr': {'placeholder':'Prix','class':'form-control-lg'}})}}
{{form_row(formp.quantiteProduit,{'attr': {'placeholder':'Quantite','class':'form-control-lg'}})}}
{{form_row(formp.dateExpiration,{'attr': {'placeholder':'date Expiration','class':'form-control-lg'}})}}
{{form_row(formp.category,{'attr': {'placeholder':'category','class':'form-control-lg'}})}}
{{form_row(formp.imageProduit)}}
<button type='submit' class="btn btn-round btn-facebook" >
                {% if editmode %}
                    modifier
                {% else %}
                    Ajouter un nouveau produit
                {% endif %}
                </button>
                {{form_end(formp)}}
    
</div>

{% endblock %}