{% extends 'baseback.html.twig' %}

{% block stylesheets %}

			<link rel="stylesheet" href="{{asset('vendors/bootstrap/bootstrap.min.css')}}">
			<link rel="stylesheet" href="{{asset('vendors/fontawesome/css/all.min.css')}}">
			<link rel="stylesheet" href="{{asset('vendors/themify-icons/themify-icons.css')}}">
			<link rel="stylesheet" href="{{asset('vendors/nice-select/nice-select.css')}}">
			<link rel="stylesheet" href="{{asset('vendors/owl-carousel/owl.theme.default.min.css')}}">
			<link rel="stylesheet" href="{{asset('vendors/owl-carousel/owl.carousel.min.css')}}">
			<link rel="stylesheet" href="{{asset('css/style.css')}}">
			<link rel="stylesheet" href="{{asset('css/style1.css')}}">
			{{ encore_entry_link_tags('app') }}

                    <style>
        #calendrier{
            width: 80%;
            margin: auto;
        }
    </style>

		{% endblock %}

		{% block javascripts %}
			<script src="{{asset('vendors/jquery/jquery-3.2.1.min.js')}}"></script>
			<script src="{{asset('vendors/bootstrap/bootstrap.bundle.min.js')}}"></script>
			<script src="{{asset('vendors/skrollr.min.js')}}"></script>
			<script src="{{asset('vendors/owl-carousel/owl.carousel.min.js')}}"></script>
			<script src="{{asset('vendors/nice-select/jquery.nice-select.min.js')}}"></script>
			<script src="{{asset('vendors/jquery.ajaxchimp.min.js')}}"></script>
			<script src="{{asset('vendors/mail-script.js')}}"></script>
			<script src="{{asset('js/main.js')}}"></script>
			{{ encore_entry_script_tags('app') }}

                    <script>
        window.onload = () => {
            let calendarElt = document.querySelector("#calendrier")
            let calendar = new FullCalendar.Calendar(calendarElt, {
                initialView : 'timeGridWeek',
                locale: 'fr',  
                timeZone: 'Africa/Tunis',
                headerToolbar: {
                    start: 'prev,next',
                    center: 'title',
                    end: 'timeGridWeek,dayGridMonth',
                },
                events: {{ data|raw }},
                editable: true
            })
            calendar.on('eventChange', (e) => {
               let url = `/activite/modifierCalendrier/${e.event.id}`
                    var dat = e.event.start.toString();
                    var en = e.event.end.toString();
                    console.log(typeof dat);
                let donnees = {

                    "nomAcitivite": e.event.title,
                    "nbrePlace": e.event.extendedProps.description,
                    "DateActivite": e.event.start,
                    "end": e.event.end,
                    //"TimeActivite": e.event.start,
                    "background_color": e.event.backgroundColor,
                    "border_color": e.event.borderColor,
                    "text_color": e.event.textColor,

                }
                //console.log(donnees);
                const req = new XMLHttpRequest();
                console.log(typeof req);

                req.open("POST", url);
                    /*console.log(donnees)
                    let j = JSON.stringify(donnees)
                    console.log(j)
                    req.send(JSON.stringify(donnees))*/

                req.send(JSON.stringify(donnees));

            })
            calendar.render()
        }
    </script>
		{% endblock %}


{% block content %}


    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
    <div id="calendrier">
    </div>
    </div>

    <br>
    <br>
{% endblock %}

