<<<<<<< HEAD

=======
{% extends 'baseback.html.twig' %}
>>>>>>> 97ebc60cafdf1a0cff1154faab316e13b3bb84d1

{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">
<<<<<<< HEAD
<center>
=======
<center><h1>Créer une nouvelle activité</h1></center>
<br><br>
>>>>>>> 97ebc60cafdf1a0cff1154faab316e13b3bb84d1
<div>
{{form_start(f,{'attr': {'novalidate': 'novalidate'}})}}
{{form_row(f.nomAcitivite,{'attr': {'placeholder':'Nom Activite','class':'form-control-lg'}})}}
{{form_row(f.descriptionActivite,{'attr': {'placeholder':'Description','class':'form-control-lg'}})}}
{{form_row(f.dureeActivite,{'attr': {'placeholder':'Duree','class':'form-control-lg'}})}}
{{form_row(f.DateActivite,{'attr': {'placeholder':'Date','class':'form-control-lg'}})}}
<<<<<<< HEAD
{{form_row(f.coach,{'attr': {'placeholder':'Coach','class':'form-control-lg'}})}}
{{form_row(f.nbrePlace,{'attr': {'placeholder':'Nombre places','class':'form-control-lg'}})}}
{{form_row(f.Image,{'attr': {'placeholder':'Image','class':'form-control-lg'}})}}
<button type="submit" class="btn btn-round btn-facebook">Ajouter</button>
{{form_end(f)}}
</div>
</center>
=======
{{form_row(f.TimeActivite,{'attr': {'placeholder':'Time','class':'form-control-lg'}})}}
{{form_row(f.Coach,{'attr': {'placeholder':'Coach','class':'form-control-lg'}})}}
{{form_row(f.nbrePlace,{'attr': {'placeholder':'Nombre places','class':'form-control-lg'}})}}
{{form_row(f.Image,{'attr': {'placeholder':'Image','class':'form-control-lg'}})}}
<center><button type="submit" class="btn btn-round btn-facebook">Ajouter une nouvelle activité</button></center>
{{form_end(f)}}
</div>

>>>>>>> 97ebc60cafdf1a0cff1154faab316e13b3bb84d1
</div>
{% endblock %}
