{% extends 'baseback.html.twig' %}

{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">
<center><h1>Modifier une activité</h1></center>
<br><br>
<div>
{{form_start(f,{'attr': {'novalidate': 'novalidate'}})}}
{{form_row(f.nomAcitivite,{'attr': {'placeholder':'Nom Activite','class':'form-control-lg'}})}}
{{form_row(f.descriptionActivite,{'attr': {'placeholder':'Description','class':'form-control-lg'}})}}

{{form_row(f.DateActivite,{'attr': {'placeholder':'Date','class':'form-control-lg'}})}}
{{form_row(f.TimeActivite,{'attr': {'placeholder':'Debut','class':'form-control-lg'}})}}
{{form_row(f.end,{'attr': {'placeholder':'Fin','class':'form-control-lg'}})}}
{{form_row(f.Coach,{'attr': {'placeholder':'Coach','class':'form-control-lg'}})}}
{{form_row(f.nbrePlace,{'attr': {'placeholder':'Nombre places','class':'form-control-lg'}})}}
{{form_row(f.Image,{'attr': {'placeholder':'Image','class':'form-control-lg'}})}}
<center><button type="submit" class="btn btn-round btn-facebook">Modifier</button></center>
{{form_end(f)}}
</div>

</div>
{% endblock %}