{% extends 'baseback.html.twig' %}

{% block content %}
<div class="container">
<br>
<br>
<br>
<br>
<br>
<br>
<center>
<h1> Liste des Activites</h1>
</center>
<br><br>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      
      <th scope="col">Date </th>
      <th scope="col">Debut </th>
      <th scope="col">Fin</th>
      <th scope="col">Coach </th>
      <th scope="col">Nombre places </th>
      <th scope="col">Image </th>
      <th scope="col"> </th>
      <th scope="col"> </th>
    </tr>
  </thead>
  <tbody>
  {%  for a in  activites %}
    <tr>
      <td scope="row">{{a.id}}</td>
      <td>{{a.nomAcitivite}}</td>
      <td>{{a.descriptionActivite}}</td>
      
      <td>{{a.DateActivite|date('d F Y')}}</td>
      <td>{{a.TimeActivite|date('H:i')}}</td>
      <td>{{a.end|date('H:i')}}</td>
      <td>{{a.Coach.nomCoach}}</td>
      <td>{{a.nbrePlace}}</td>
      <td><img style="width:100px;" src="{{asset('img/activite/'~a.image)}}" alt=""></td>
          <td>  <a class="btn btn-round btn-twitter" href="{{ path('updateActivite', {id:a.id})}}">Modifier</a></td>
      <td>  <a class="btn btn-round btn-twitter" href="{{ path('deleteActivite', {id:a.id}) }}">Supprimer</a></td>
  

    </tr>
 
    {%  endfor %}
    <td>  <a class="btn btn-round btn-twitter" href="{{ path('activite_planningBack') }}">Planning</a></td>
    {% if tri %}
<td>  <a class="btn btn-round btn-twitter" href="{{ path('AffichageActivite') }}">Retour</a></td>
    {% else %}
    <td>  <a class="btn btn-round btn-twitter" href="{{ path('AffichageActiviteTriN') }}">Tri Par Nom</a></td>
    {% endif %}
        {% if tri1 %}
<td>  <a class="btn btn-round btn-twitter" href="{{ path('AffichageActivite') }}">Retour</a></td>
    {% else %}
    <td>  <a class="btn btn-round btn-twitter" href="{{ path('AffichageActiviteTriD') }}">Tri Par Date</a></td>
    {% endif %}
        {% if tri2 %}
<td>  <a class="btn btn-round btn-twitter" href="{{ path('AffichageActivite') }}">Retour</a></td>
    {% else %}
    <td>  <a class="btn btn-round btn-twitter" href="{{ path('AffichageActiviteTriNb') }}">Tri Par Nombre de places</a></td>
    {% endif %}
  </tbody>
</table>
<center>
<form action="{{ path('addActivite') }}">
    <button class="btn btn-round btn-facebook">Ajouter une nouvelle activité</button>
</form>
</center>

</div>

{% endblock %}



