{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}


{% if not app.user %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Vous ête déjà connecté en tant que  {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Déconnecter</a>
        </div>
    {% endif %}
    <section class="login_box_area section-margin">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
    {% if app.session.flashBag.has('success') %}
<div class="alert alert-success">
{{ app.session.flashBag.get('success')[0] }}
</div>
{% endif %}
{% if app.session.flashBag.has('error') %}
    <div class="alert alert-danger">
        {{ app.session.flashBag.get('error')[0] }}
    </div>

 

{% endif %}
    <h1 class="h3 mb-3 font-weight-normal">Se Connecter</h1>
    <label for="inputEmail">Email</label>
    <input type="email"  name="email" id="inputEmail" class="form-control" autocomplete="email" width="100" height="48" required autofocus>
    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >
    <br>

    <center>
     <button class="btn btn-lg btn-success" type="submit">
Se Connecter
    </button>
     </center>
      <center>
     <a class="btn btn-lg btn-blue" href="{{path('security_registration')}}">
Créer un compte    </a>
     </center>
     </div>
      </div>
    </div>
    </section>

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

   
</form>


{% else %}

<h3>Vous êtes déjà connecté en tant que {{app.user.username}}</h3>
<hr>
<hr>

<hr>
<hr>

{% endif %}

{% endblock %}
