{% extends 'baseback.html.twig' %}
{% block content %}



<div class="example-wrapper">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Réclamation</h4>
            <p class="card-description"> Gestion de <code>réclamations</code>
            </p>
            <section class="s-crossfit">
                <div class="container">
                    <h2>Rechercher réclamation </h2>

                    <div class="sidebar-search">

                        <div class="input-group custom-search-form">

                            <input type="text" id="search" class="form-control" placeholder="Search here">
                        </div>
                        <!-- /input-group -->
                    </div>

                    <div class="row" id="search">

                    </div>
                    <br><br><br><br>
                </div>
            </section>
            <script src="{{ asset('assets/js/jquery.js') }}"></script>
            <script
                    src="{{ asset('https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js')}}">
            </script>
            <script>
                $( document ).ready(function() {
                    var currentRequest = null;
                    $("#search").keyup(function(e){
                        /* La variable value va prendre la valeur insérer dans le champ de texte
                        afin d’effectuer la recherche */
                        var value = $(this).val();
                        if(currentRequest != null) {
                            currentRequest.abort();
                        }
                        /* Ajax est lancé lors du remplissage du champ texte dont l’id est
                        « search » pour faire la recherche */
                        currentRequest = $.ajax({
                            url : "{{ path('recherchetype') }}",
                            type : 'GET',
                            data: {
                                'searchValue' : value
                            },
                            success : function(retour)
                            {
                                $('#all').html(retour);
                            },
                        });
                        return false;
                    });
                });
            </script>



<div class=container>

<center>
<h1> Liste des réclamations</h1>
<table class="table">
    <tr> 
    <thead>
        <th > Date reclamation</th>
        <th > Description reclamation</th>
        
        <th > Type reclamation</th>
    </tr>
    <thead>
    <tbody>
    {%  for a in  reclamations %}
        <tr>
          
            <td>   {{ a.dateReclamtion|date("Y-m-d")}} </td>

            <td>   {{ a.descriptionReclamation }} </td>
          
            <td>   {{ a.typeReclamation }} </td>
                <td> <a class="btn btn-sm btn-danger" href="{{ path('deleteReclamation',{'id' : a.id}) }}">Supprimer </a></td>
            
        <td> <a class="btn btn-sm btn-success" href="{{ path('repondre', {id:a.id}) }}">Répondre </a></td>
        </tr>
    {% endfor %}
    <a href="{{path('stats') }}"><i class="btn btn-warning" data-feather="arrow-down"></i>Statistiques</a>
 {# <a href="{{path('listrec') }}"><i class="btn btn-warning" data-feather="arrow-down"></i>Générer pdf</a>  #}
</table>





<a href="{{path('triespc') }}"><i class="btn btn-danger" data-feather="arrow-down"></i>Tri ascendant </a>
</center>
{% for message in app.flashes('info') %}
        <div class="alert alert-success">
        {{message}}
    {% endfor %}
{% for message in app.flashes('del') %}
        <div class="alert alert-danger">
        {{message}}
    {% endfor %}
{% endblock %}