{% extends 'baseback.html.twig' %}

{% block title %}Liste des abonnements{% endblock %}

{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
<<<<<<< HEAD
<center>
<h1>Liste des abonnements</h1>
=======
<div class="container">
<center>
<h1>Liste des abonnements</h1>
</center>
<br><br>
>>>>>>> 97ebc60cafdf1a0cff1154faab316e13b3bb84d1
<table class="table">
<thead>
    <tr>
        <th>Id</th>
        <th>Nom</th>
<<<<<<< HEAD
        <th>Prix</th>
=======
        <th>Prix(en dt)</th>
>>>>>>> 97ebc60cafdf1a0cff1154faab316e13b3bb84d1
        <th>Durée</th>
    </tr>
    </thead>
    {% for abonnement in abonnements %}
    <tr>
        <td>{{ abonnement.id }}</td>
        <td>{{ abonnement.nomAbonnement }}</td>
        <td>{{ abonnement.prixAbonnement }}</td>
        <td>{{ abonnement.dureeAbonnement }}</td>
        <td>
        <td><a class="btn btn-round btn-twitter" href="{{ path('modifier_un_abonnement',{'id' : abonnement.id}) }}">Modifier</a></td>
        <td><a class="btn btn-round btn-twitter" href="{{ path('delete_un_abonnement',{'id' : abonnement.id}) }}">Supprimer</a></td>
        </td>
<<<<<<< HEAD
        </tr>
    {% endfor %}
</table>
<!--<button  class="btn btn-round btn-facebook" href="{{ path('abonnement_new') }}">Créer un nouvel abonnement</button>-->
<form action="{{ path('abonnement_new') }}">
    <button class="btn btn-round btn-facebook">Créer un nouvel abonnement</button>
</form>
</center>
=======
    </tr>
    {% endfor %}
</table>
<center>
<form action="{{ path('abonnement_new') }}">
    <button class="btn btn-round btn-facebook">Ajouter un nouvel abonnement</button>
</form>
</center>
</div>
>>>>>>> 97ebc60cafdf1a0cff1154faab316e13b3bb84d1
{% endblock %}