{% extends 'base.html.twig' %}

{% block title %}Panier
{% endblock %}

{% block body %}
	<div class="bg-light p-3">
		<h1>Votre panier</h1>
	</div>
	{% if items | length > 0 %}
		<table class="table">
			<thead>
				<tr>
					<th>nom de produit</th>
					<th>prix de produit</th>
					<th>Quantité</th>
					<th>Total</th>
					<th></th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for item in items %}
					<tr>
						<td>{{item.product.nom}}</td>
						<td>{{item.product.prixProduit}}</td>
						<td>{{item.quantity}}</td>
						<td>{{ item.product.prixProduit *  item.quantity}}</td>
						<td>
							<a href="{{path('panierPlus',{'id':item.product.id}) }}">
								<i class="fa fa-plus" aria-hidden="true"></i>
							</a>
						</td>
						<td>
							<a href="{{path('panierMoins',{'id':item.product.id}) }}">
								<i class="fa fa-minus-circle" aria-hidden="true" disabled="true"></i>
							</a>
						</td>
						<td>
							<a href="{{path('removePrPa',{'id':item.product.id}) }}" class="btn btn-danger btn-sm">
								<i class="fas fa-trash"></i>
							</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
			<tfoot>
				<tr>
					<td colspan="3" class="text-right">Total Prix :</td>
					<td>{{ total }}
						DT</td>
					<td></td>
				</tr>
			</tfoot>
		</table>
		<div></div>
	{% else %}
		<p>
			votre panier est vide !
		</p>
	{% endif %}

</div>{% endblock %}
