{% extends 'base.html.twig' %}

{% block title %}Panier
{% endblock %}

{% block body %}
	<div class="bg-light p-3">
		<h1>Votre panier</h1>
	</div>
	{% if items | length > 0 %}
		<table class="table">
			<thead>
				<tr>
					<th>nom de produit</th>
					<th>prix de produit</th>
					<th>Quantité</th>
					<th>Total</th>
					<th></th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for item in items %}
					
						<tr id='js_Product_{{item.product.id}}'>
							<td>{{item.product.nom}}</td>
							<td>{{item.product.prixProduit}}DT</td>
							<td><span id='js_quantity_{{item.product.id}}'>{{item.quantity}}</span></td>
							<td><span id='js_prix_{{item.product.id}}'>{{ item.product.prixProduit *  item.quantity}}</span>DT</td>
							<td>
								<a href="{{path('panierPlus',{'id':item.product.id}) }}"class="buttonplus">
									<i class="fa fa-plus" aria-hidden="true"></i>
								</a>
							</td>
							<td>
								<a href="{{path('panierMoins',{'id':item.product.id}) }}" class="buttonMoins">
									<i class="fa fa-minus-circle" aria-hidden="true" ></i>
								</a>
							</td>
							<td>
								<a id ="btnRemoveProduit"href="{{path('removePrPa',{'id':item.product.id}) }}" class="btn btn-danger btn-sm">
									<i class="fas fa-trash"></i>
								</a>
							</td>
						</tr>
					
				{% endfor %}
			</tbody>
			<tfoot>
				<tr>
					<td colspan="3" class="text-right">Total Prix :</td>
					<td><span id="prix_total">{{ total }}</span>DT
						</td>
					<td></td>
				</tr>
			</tfoot>
		</table>
		
		

		

		<div class="text-right">
		{# <a id ="" href="{{path('ajouter_commande') }}"  class="btn btn-danger btn-sm btn-large">Commander
			<i class="fa fa-angle-right" aria-hidden="true"></i>
		</a> #}
		<a class="button button-hero" href="{{path('ajouter_commande')}}">Commander <i class="fa fa-angle-right" aria-hidden="true"></i></a>
		</div>
		<br>
		<br>

	
	{% else %}
		<p>
			votre panier est vide !
		</p>
	{% endif %}

</div>

<script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
<script>
const spans_quantity = document.querySelectorAll("span[id^='js_quantity_']");
const spans_prix = document.querySelectorAll("span[id^='js_prix_']");
const span_prix_total = document.querySelector("#prix_total");
const span_products = document.querySelectorAll("#js_Product");

//script pour le button removeProduit
	function onClickBtnRemove(event) {
		event.preventDefault();
		const url = this.href;
		//supprimer le produit
		axios.get(url).then(function (response) {
			const productId = response.data.id;
			const productRow = document.getElementById(`js_Product_${productId}`);
			

			if (productRow) {
				productRow.remove();
			}
			//changer le prix totale
			span_prix_total.textContent = response.data.total;

		});
	}

	document.querySelectorAll('a#btnRemoveProduit').forEach(function (link) {
		link.addEventListener('click', onClickBtnRemove);
	});

//script pour le button plus
	function onClickBtnPlus(event) {
		event.preventDefault();
		const url = this.href;
		
		axios.get(url).then(function (response) {
			//changer la quantitée
			spans_quantity.forEach(span => {
      		const productId = span.id.split('_')[2];
			if (response.data.id == productId) {
				span.textContent = response.data.quantite;
			}
      		});
			//changer le prix
			spans_prix.forEach(span => {
      		const productId = span.id.split('_')[2];
			if (response.data.id == productId) {
				span.textContent = response.data.prix;
			}
      		});
			//changer le prix totale
			span_prix_total.textContent = response.data.total;
			
		});
	}

	document.querySelectorAll('a.buttonplus').forEach(function (link) {
		link.addEventListener('click', onClickBtnPlus);
	});
//script pour le button moins
	function onClickBtnMoins(event) {
		event.preventDefault();
		const url = this.href;
		//changer la quantitée
		axios.get(url).then(function (response) {
			spans_quantity.forEach(span => {
      		const productId = span.id.split('_')[2];
			if (response.data.id == productId) {
				span.textContent = response.data.quantite;
			}
      		});
			//changer le prix
			spans_prix.forEach(span => {
      		const productId = span.id.split('_')[2];
			if (response.data.id == productId) {
				span.textContent = response.data.prix;
			}
      		});
			//changer le prix totale
			span_prix_total.textContent = response.data.total;
		});
	}

	document.querySelectorAll('a.buttonMoins').forEach(function (link) {
		link.addEventListener('click', onClickBtnMoins);
	});

</script>


{% endblock %}

